.left-panel {
    text-align: center;
}

.left-panel .btn{
    margin: 5px;
}

.work-field-container {
    border: dashed 2px;
    border-color: grey;
    border-radius: 5px;
    padding: 0px;
}
/*

.work-field {
    width: 100%;
    height: 600px;
}
*/


#module-library {
    width: 213px;
    border-radius: 2px;
    margin-top: 6px;
}

.properties-menu,
.modules-menu {
    border: solid 1px #dedede;
    border-radius: 5px;
    padding-top: 10px;
    margin: 10px 0px;
    background-color: #e4e4e4;
    min-height: 310px;
}

.modules-menu {
    height: 310px;
}

.element-properties{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.element-properties,
.modules-selector {
    width: 100%;
    overflow-y: auto;
    min-height: 265px;
    padding-left: 20px;
}

.modules-selector {
    height: 265px;
}

.module-button {
    max-width: 260px;
}

.element-properties input {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 74%;
    max-width: 200px;
}

.element-properties .property label {
    text-transform: capitalize;
    min-width: 50px;
}

.element-properties .property {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 30px;
}

.element-properties .property,
.element-properties .btn {
    min-height: 40px;
}

.bottom {
    margin-top: auto !important;
}

.port-label {
    font-size: 12px;
    font-weight: bold;
}

.link-tools .tool-remove { display: none }

.link-tools .tool-options {
     display: none;       /* by default, we don't display link options tool */
}